# DJANGO
django
djangorestframework
django-cors-headers
djangorestframework-simplejwt

# PostgreSQL Adapter
psycopg[binary]

# DOCUMENTATION
drf-spectacular
drf-spectacular[swagger]
drf-spectacular[redoc]